* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    max-width: 900px;
    height: 800px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    min-width: 100%;

}

.fa-solid {
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev {
    left: 5%;
}

#next {
    right: 5%;
}