* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 900px;
    height: 900px;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;

}

.description {
    position: absolute;
    bottom: 2%;
    color: white;
    padding: 20px;
    max-width: 900px;
    min-width: 900px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.267);
}

.fa-solid {
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.267);
    padding: 20px;
    border-radius: 50%;
}

#prev {
    left: 15%;
}

#next {
    right: 15%;
}

.d-none {
    display: none;
}